:root {
  --main: #39B7C2;
  --dark: #153570;
}

* {
  font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;
    color: #2F2D2C;
}

#header {
    padding: 4% 0;
    width: 100%;
    background: linear-gradient(90deg, var(--main) 0%, var(--dark) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}

#header h1 {
  margin: 20px;
}

p {
  font-size: 1rem;
}

a:visited {
    color: var(--dark);
    text-decoration: none;
}

#content {
  padding: 20px 7vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#week1 {
  margin-right: 20px;
}

#week2 {
  margin-left: 20px;
}

.session {
  text-align: center;
  max-width: 500px;
}

#sites {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  /* background-color: blue; */
}
.session a {
  box-sizing: border-box;
  color: white;
  background-color: var(--main);
  text-decoration: none;

  max-width: 300px;
  padding: 10px 20px;
  border: none;
  margin: 1px;
  width: 100%;
  align-self: center;
  transition-duration: 0.2s;
}

.session a:hover {
  background-color: var(--dark);
  color: white;
}

.session nav {
  display: flex;
  flex-flow: column wrap;
}

h2 {
    font-size: 1rem;
}

@media only screen and (max-width: 651px) {
  #week1, #week2 {
    margin: 0;
  }
}

@media only screen and (max-width: 414px) {

  #header, #content {
    font-size: 0.7rem;
  }

  p {
    font-size: 0.8rem;
  }

  #sites {
    flex-flow: column nowrap;
  }

  #week1, #week2 {
    margin: 0;
  }
}