body {
    background-color: rgb(255, 192, 97);
    text-align: center;
    image-orientation: center;
}

button {
    width: 500;
    color: whitesmoke;
    background-color: black; 
}

button:hover {
    background: linear-gradient(red,orange,yellow);
    border-style: dotted;
    border-color: rgb(223, 109, 128);
    text-shadow: 2px 2px black;
}

h1 {
    border-style: dashed;
    border-color:rgb(253, 176, 61);
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;