button{
    background-color:teal;
}
button{
    color: rgb(250, 253, 255);
}
body{background-color: lightcyan;
font-family: 'Julius Sans One', sans-serif; ;

border-color: white
;
border-width: 10cm;

height:100px;


width:200px;
color: teal  Im running out of ideas;

font-size: 30px;

 }
.HI-PERSON-CLICK-ME{
    background-image:linear-gradient(90deg,cyan,white);
}
body{background:https://i.pinimg.com/originals/a9/cd/75/a9cd75922b7ad97cd94787a5b3ee89fe.jpg ;}

button:hover{
    background-color: rosybrown;
}
div{
border-top-style: solid;
border-color: white;
text-align: center;
border-width: medium;
}

transform: rotate(90deg

)
p.solid{
    border-style: solid;
    border-color: white;
}
