button{
    background-color: lemonchiffon;
    width: 400px;
    height: 100px;
}
button{

}
body{
    background-color: hotpink;
}
h1{
    font-size: 50px;
    border: 3px purple;
    border-radius: 100px;
    border-width: 5mm;
}

button:hover {
    background-color: violet;
}
h1{
    text-align: center
}
div{
    width: 100%;

    margin: 10px;
    margin-top: 5px;
}
h1{
    font-family: 'Crafty Girls', cursive;
    <link href="https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap" rel="stylesheet">
}
